:root {
    /* Inclure ici les variables globales */
    --ft-color: #000;
}

* {
    /* Inclure les padding et margin dans le calcul de la largeur et hauteur des éléments */
    box-sizing: border-box;
}

body {
    /* Enlever les marges et padding par défaut du body */
    margin: 0;
    padding: 0;
    /* Définir les propriétés par défaut de la police principale */
    color: var(--ft-color);
    font-family: sans-serif;
    font-size: 20px;
}
